.result {
	font: 16px 'AmericanTypewriter', Cambria, Georgia; 
	color: #282625; 
	margin: 0 auto; 
	width: 600px;
}

.paper{
background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}