body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: -webkit-linear-gradient(to right, #3a6186 0%, #89253e 100%);
  background: linear-gradient(to right, #3a6186 0%, #89253e 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
